<template>
  <div class="advantages">
    <div class="container">
      <span class="title">Преимущества даркстора</span>
      <div class="advantages-wrapper">
        <div class="block" :key="advantage.id" v-for="advantage of advantages">
          <div class="ad-icon">
            <img :src="require(`@/assets/images/advantages/${advantage.img}`)" alt="">
          </div>
          <span class="ad-title">{{ advantage.title }}</span>
          <p class="ad-description">{{ advantage.description }}</p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "AdvantagesBlock",
  data() {
    return {
      advantages: [
        {
          id: 1,
          img: '01.svg',
          title: 'Нет контакта с посторонними людьми',
          description: 'Заказ формируется из товаров, до которых никто не дотрагивался, как это возможно на полках обычного магазина. Фрукты и овощи отбираются сборщиком вручную.'
        },
        {
          id: 2,
          img: '02.svg',
          title: 'Заморозка 1 раз',
          description: 'Продукты замораживаются однократно и поддерживаются в этом состоянии, пока не будут доставлены к вам.'
        },
        {
          id: 3,
          img: '03.svg',
          title: 'Профессиональные морозильные камеры',
          description: 'Товар хранится в промышленных холодильных и морозильных зонах с оптимальными температурными режимами для разных товаров: овощей, фруктов, масла и т. д.'
        },
        {
          id: 4,
          img: '04.svg',
          title: 'Разделка мяса и рыбы под заказ',
          description: 'Мясо и рыба разделываются непосредственно для вас, а при транспортировке хранятся в специальных боксах с низкой температурой.'
        },
        {
          id: 5,
          img: '05.svg',
          title: 'Своя пекарня',
          description: `Знак «Печём сами» на карточках товаров означает, что мы привезём вам свежеиспечённый тёплый хлеб.`
        },
        {
          id: 6,
          img: '06.svg',
          title: 'Работаем с 1995 года',
          description: 'Мы занимаемся продуктами с 1995 года — все процессы хранения и доставки отточены до мелочей.'
        }
      ]
    }
  }
}
</script>

<style scoped lang="less">
.advantages {
  padding-top: 90px;

  .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #26303B;
    margin-bottom: 40px;
  }

  .advantages-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0 0 37px rgba(230, 231, 235, 0.09);
      border-radius: 10px;
      padding: 30px 15px 25px;
      box-sizing: border-box;
      width: 31%;
      margin: 15px 0;

      .ad-icon {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ad-title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        max-width: 250px;
      }

      .ad-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #26303B;
      }
    }
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-top: 40px;

    .title {
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 20px;
    }

    .advantages-wrapper {
      .block {
        padding: 0 10px 10px;
        margin: 4px 0;
        width: 49%;

        .ad-icon {
          height: 100px;

          img {
            width: 50%;
            max-width: 70px;
          }
        }

        .ad-title {
          font-size: 8px;
          line-height: 11px;
        }

        .ad-description {
          font-size: 8px;
          line-height: 11px;
        }
      }
    }
  }
}
</style>
