<template>
  <div class="footer">
    <div class="container">
      <div class="logo"><img src="@/assets/images/logo.svg" alt=""></div>
      <div class="footer-wrapper">
        <div class="contacts">
          <div>
            <span>Москва</span>
            <a href="tel:+74957975777">+7 495 797-57-77</a>
          </div>
          <div>
            <span>Санкт-Петербург</span>
            <a href="tel:+78123859955">+7 812 385-99-55</a>
          </div>
        </div>
        <socials-block/>
      </div>
    </div>
  </div>
</template>

<script>
import SocialsBlock from '@/components/SocialsBlock.vue'

export default {
  name: "FooterBlock",
  components: {
    SocialsBlock
  }
}
</script>

<style scoped lang="less">
.footer {
  background: linear-gradient(0deg, #043E44, #043E44), #CBE07D;
  padding: 50px 0 100px;

  .logo {
    margin-bottom: 30px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;

    .contacts {
      display: flex;
      color: #FFFFFF;

      div {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 40px;
        }

        span {
          font-weight: normal;
          font-size: 14px;
        }

        a {
          color: #FFFFFF;
          font-weight: bold;
          font-size: 22px;
          line-height: 36px;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 35px 60px;

    .logo {
      width: 130px;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    .footer-wrapper {
      flex-direction: column;

      .contacts {
        flex-direction: column;

        div {
          margin-bottom: 10px;

          &:not(:last-child) {
            margin-right: 0;
          }

          span {
            font-size: 14px;
            line-height: 24px;
          }

          a {
            font-size: 22px;
            line-height: 36px;
          }
        }
      }

      .socials {
        margin-top: 20px;
      }
    }
  }
}
</style>
