<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="@/assets/images/logo.svg" alt="">
      </div>
      <span class="title">Что такое даркстор?</span>
      <p>Это магазин-склад без покупателей.<br>Именно здесь, а не в розничном магазине собирают ваши заказы.</p>
      <div class="swipe">
        <img src="@/assets/images/swipe.svg" alt="">
        <span>Свайп вниз</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="less">
  .header{
    width:100%;
    height:480px;
    background: url('../../assets/images/header-bg.png') bottom center no-repeat;
    background-size: cover;
    padding-top:60px;
    .title{
      display:block;
      margin: 90px 0 15px;
      font-weight:bold;
      font-size:54px;
      color:#FFFFFF;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }
    p{
      font-weight: normal;
      font-size: 26px;
      line-height: 44px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      max-width:580px;
    }
    .swipe{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:45px;
      span{
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left:10px;
      }
    }
  }
  @media(max-width:1024px){
    .header{
      height:420px;
      .title{
        font-size:40px;
        line-height:44px;
      }
      p{
        font-size: 20px;
        line-height: 32px;
        max-width:350px;
      }
      .container{
        width:760px;
      }
    }
  }

  @media (max-width: 767px) {
    .header{
      height:340px;
      padding-top:40px;
      .logo{
        width:100px;
        img{
          width:100%;
        }
      }
      .title{
        font-size: 28px;
        line-height: 36px;
        max-width:150px;
        text-align: right;
        margin:70px 0 10px;
      }
      p{
        font-size: 16px;
        line-height: 22px;
        max-width:300px;
        text-align: center;

      }
      .swipe{
        display:none;
      }
      .container{
        display:flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
</style>
