<template>
  <div class="carousel-block">
    <div class="container">
      <span class="title">Взгляните на процесс сборки своими глазами</span>
      <process-carousel
          :carousel_slides="slides"
          :interval="3000"
      />
    </div>
  </div>
</template>

<script>
import ProcessCarousel from '@/components/carousel/ProcessCarousel.vue'

export default {
  name: "ProcessBlock",
  components: {
    ProcessCarousel
  },
  data() {
    return {
      slides: [
        {
          id: 1,
          img: 'slide1.png',
          title: 'Привезём точно по списку',
          description: 'Сборщик берëт с собой наручный терминал, на котором он видит весь список покупок для каждого заказа.'
        },
        {
          id: 2,
          img: 'slide2.png',
          title: 'Собираем быстро и эффективно',
          description: 'Для улучшения эргономики пространства товары размещены от тяжëлых к лëгким, находящимся уже в конечной зоне упаковки.'
        },
        {
          id: 3,
          img: 'slide3.png',
          title: 'За свежесть и качество отвечаем',
          description: 'Выделены специальные зоны, в том числе холодная и морозильная.'
        },
        {
          id: 4,
          img: 'slide4.png',
          title: 'Шампунь не положат рядом с рыбой',
          description: 'Собираем и упаковываем ваш заказ с заботой: соблюдаем принципы товарного соседства и учитываем вес товара.'
        },
        {
          id: 5,
          img: 'slide5.png',
          title: 'Довезëм в сохранности даже яйца',
          description: 'Бережно транспортируем контейнеры, фиксируя их стяжными ремнями. Системы охлаждения поддерживают температурный режим.'
        },
      ]
    }
  }
}
</script>

<style scoped lang="less">
.carousel-block {
  padding: 100px 0 80px;

  .title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #26303B;
    margin: 0 auto 40px;
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .carousel-block {
    padding: 50px 0;

    .title {
      font-size: 26px;
      line-height: 32px;
      margin: 0 auto 30px;
    }
  }
}
</style>
