<template>
  <div class="features">
    <div class="container">
      <div class="features-wrapper">
        <div class="block">
          <div class="icon">
            <img src="@/assets/images/discount.svg" alt="">
          </div>
          <div class="content">
            <span class="title discount">Скидка <span>1500 ₽</span></span>
            <p class="description"><span>–500 ₽</span> на первые три заказа попромокоду NEW</p>
          </div>
        </div>
        <span class="plus">+</span>
        <div class="block">
          <div class="icon">
            <img src="@/assets/images/delivery.svg" alt="">
          </div>
          <div class="content">
            <span class="title delivery">Бесплатная <span>доставка</span></span>
            <p class="description">первого заказа</p>
          </div>
        </div>
      </div>
      <button class="buy-btn" @click="purchaseFormToggle">К покупкам</button>
    </div>

  </div>
</template>

<script>
export default {
  name: "PurchaseBlock",
  methods: {
    purchaseFormToggle() {
      this.$emit('purchase-form')
    }
  }
}
</script>

<style scoped lang="less">
.features {
  background: #FFFFFF;
  padding: 60px 0;

  .features-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .block {
      background: #FFFFFF;
      border: 1px solid #D0D4CD;
      box-sizing: border-box;
      width: 100%;
      max-width: 390px;
      height: 225px;
      display: flex;
      padding: 30px;

      .icon {
        min-width: 70px;
        width: 70px;
        height: 70px;
        background: #7DB945;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 30px;
      }

      .content {
        .title {
          font-weight: bold;
          font-size: 36px;

          color: #26303B;
          margin-top: 10px;
          display: block;

          &.discount {
            line-height: 46px;
          }

          &.delivery {
            line-height: 40px;
          }

          span {
            color: #7DB945;
            display: block;
          }
        }

        .description {
          font-size: 16px;
          line-height: 24px;
          color: #26303B;
          margin: 15px 0 0;

          span {
            font-weight: bold;
          }
        }
      }
    }

    .plus {
      font-weight: bold;
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      color: #26303B;
    }
  }

  .buy-btn {
    margin: 50px auto 30px;
    width: 340px;
    height: 70px;
  }
}

@media (max-width: 991px) {
  .features {
    .features-wrapper {
      flex-direction: column;

      .plus {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .features {
    padding: 30px 10px;

    .features-wrapper {
      .block {
        flex-direction: column;
        align-items: center;
        height: auto;

        .icon {
          width: 60px;
          height: 60px;
          min-height: 60px;
          min-width: 60px;
          margin: 0;
        }

        .content {
          .title {
            text-align: center;
            font-size: 30px;
            line-height: 46px;

            &.delivery {
              line-height: 30px;
            }

            span {
              display: inline-block;
            }
          }

          .description {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
          }
        }
      }

      .plus {
        margin: 10px 0;
      }
    }

    .buy-btn {
      margin-top: 30px;
      font-size: 22px;
      line-height: 36px;
      max-width: 100%;
    }
  }
}
</style>
