<template>
  <div class="main-page">
    <header-block />
    <advantages-block />
    <process-block />
    <purchase-block @purchase-form="purchaseFormToggle"/>
    <footer-block />
    <transition name="fade">
      <purchase-form v-if="purchaseForm" @form-close="purchaseFormToggle"/>
    </transition>
  </div>
</template>

<script>
import HeaderBlock from '@/components/landing-page/HeaderBlock.vue'
import AdvantagesBlock from '@/components/landing-page/AdvantagesBlock.vue'
import ProcessBlock from '@/components/landing-page/ProcessBlock.vue'
import PurchaseBlock from '@/components/landing-page/PurchaseBlock.vue'
import FooterBlock from '@/components/landing-page/FooterBlock.vue'
import PurchaseForm from '@/components/PurchaseForm.vue'

export default {
  name: 'MainPage',
  components: {
    HeaderBlock, AdvantagesBlock, ProcessBlock, PurchaseBlock, FooterBlock, PurchaseForm
  },
  data () {
    return {
      purchaseForm: false,
    }
  },
  methods: {
    purchaseFormToggle () {
      this.purchaseForm = !this.purchaseForm
    }
  }
}
</script>
