<template>
  <div class="purchase-form">
    <div @click="close" class="layout"></div>
    <div class="wrapper">
      <span @click="close" class="close"></span>
      <div v-if="!success" :class="['form', isEmailValid()]">
        <span class="title">Отправить заявку</span>
        <input id="email" type="email" placeholder="Email" v-model="email">
        <button :class="['buy-btn', isEmailValid()]" @click="sendForm">Отправить</button>
      </div>
      <span class="note" v-else>Спасибо за обращение. <br>Наш менеджер свяжется с вами в ближайшее время</span>
      <transition name="fade">
        <div v-if="localLoading" class="loader">
          <div class="lds-dual-ring"></div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: "PurchaseForm",
  data() {
    return {
      email: '',
      success: false,
      valid: false,
      localLoading: false,
    }
  },
  computed: {},
  methods: {
    isEmailValid() {
      let emailValue = 'empty'
      const reg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (this.email === "") {
        this.valid = false
      } else if (reg.test(this.email)) {
        this.valid = true
        emailValue = 'success'
      } else {
        this.valid = false;
        emailValue = 'error'
      }
      return emailValue
    },
    close() {
      this.$emit('form-close')
    },
    async sendForm() {
      if (this.valid) {
        this.localLoading = true
        try {
          await this.$store.dispatch('sendForm', this.email)
          console.log(this.email)
          this.localLoading = false
          this.success = true
        } catch (e) {
          this.localLoading = false
          console.log(e)
        }
      }
    }
  }
}
</script>

<style scoped lang="less">
.purchase-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;

  .layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .wrapper {
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;

    .close {
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      position: absolute;
      right: 15px;
      top: 15px;
      border-radius: 50%;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
      }

      &:before,
      &:after {
        content: '';
        width: 50%;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
      }

      &:before {
        transform: rotate(45deg) translate(16px, 5px);
      }

      &:after {
        transform: rotate(-45deg) translate(-5px, 16px);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.error {
        input {
          border-color: red;
        }
      }

      &.success {
        input {
          border-color: #7DB945;
        }
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 20px;
        color: #26303B;
      }

      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 40px;
        padding: 0 15px;
        box-sizing: border-box;
        outline-style: none;
        outline-width: 0 !important;

      }

      .buy-btn {
        width: 180px;
        height: 40px;
        font-size: 18px;
        margin: 25px 0;

        &.empty,
        &.error {
          pointer-events: none;
          user-select: none;
          opacity: 0.5;
        }
      }
    }

    .note {
      text-align: center;
      justify-content: center;
      display: flex;
      width: 100%;
      line-height: 24px;
    }
  }
}

.loader {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  border-radius: 10px;

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .purchase-form {
    .wrapper {
      padding: 30px;

      .close {
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;

        &:before {
          transform: rotate(45deg) translate(10px, 3px);
        }

        &:after {
          transform: rotate(-45deg) translate(-3px, 10px);
        }
      }

      .form {
        .buy-btn {
          margin: 30px 0 10px;
        }
      }
    }
  }
}
</style>
