<template>
  <div class="socials">
    <a href="#"><img src="@/assets/images/socials/f.svg" alt=""></a>
    <a href="#"><img src="@/assets/images/socials/vk.svg" alt=""></a>
    <a href="#"><img src="@/assets/images/socials/in.svg" alt=""></a>
    <a href="#"><img src="@/assets/images/socials/ok.svg" alt=""></a>
  </div>
</template>

<script>
export default {
  name: "SocialsBlock"
}
</script>

<style scoped lang="less">
.socials {
  display: flex;
  align-items: center;

  a {
    margin: 0 20px;
    transition: 0.3s;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
