<template>
  <div @mouseover="pause = true" @mouseleave="pause = false" class="carousel-container">
    <div @click="prevSlide" class="prev">
      <img src="@/assets/images/left.svg" alt="">
    </div>
    <div class="carousel">
      <div class="wrapper" :style="{ 'transform': 'translateX(-' + (100 * currentIndex) + '%)' }">
        <process-carousel-slide
            v-for="slide of carousel_slides"
            :key="slide.id"
            :slide_data="slide"
        />
      </div>
    </div>
    <div @click="nextSlide" class="next">
      <img src="@/assets/images/right.svg" alt="">
    </div>
  </div>

</template>

<script>
import ProcessCarouselSlide from '@/components/carousel/ProcessCarouselSlide.vue'

export default {
  name: "ProcessCarousel",
  components: {
    ProcessCarouselSlide
  },
  props: {
    carousel_slides: {
      type: Array,
      default: () => [],
    },
    interval: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      currentIndex: 0,
      pause: false
    }
  },
  methods: {
    prevSlide() {
      this.currentIndex < 1 ? this.currentIndex = this.carousel_slides.length - 1 : this.currentIndex--
    },
    nextSlide() {
      this.currentIndex >= this.carousel_slides.length - 1 ? this.currentIndex = 0 : this.currentIndex++
    },
    autoPlay() {
      if (this.interval > 0) {
        setInterval(() => {
          if (!this.pause) this.nextSlide()
        }, this.interval);
      }
    },
  },
  mounted() {
    this.autoPlay()
  }
}
</script>

<style scoped lang="less">
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prev,
.next {
  opacity: 0.2;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }
}

.carousel {
  width: 640px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .carousel-container {
    padding: 0 15px;
    flex-wrap: wrap;

    .prev {
      order: 1;
      text-align: right
    }

    .next {
      order: 2
    }

    .prev,
    .next {
      width: 50%;
      padding: 0 30px;
      box-sizing: border-box;
      margin-top: 30px;

      img {
        width: 15px;
      }
    }
  }
}
</style>
