<template>
  <div class="slide">
    <div class="index"><span>{{ slide_data.id }}</span></div>
    <img v-if="!isMobile" :src="require(`@/assets/images/carousel/${slide_data.img}`)" alt="">
    <img v-else :src="require(`@/assets/images/carousel/mobile/${slide_data.img}`)" alt="">
    <span class="slide-title">{{ slide_data.title }}</span>
    <p class="slide-description">{{ slide_data.description }}</p>
  </div>
</template>

<script>
export default {
  name: "ProcessCarouselSlide",
  props: {
    slide_data: {
      type: Object,
      default: () => {
      }
    }
  },
  computed: {
    isMobile() {
      return window.innerWidth < 768
    }
  }
}
</script>

<style scoped lang="less">
.slide {
  min-width: 100%;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  position: relative;

  .index {
    position: absolute;
    left: 33px;
    top: 33px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      font-size: 22px;
      line-height: 46px;
      color: #7DB945;
    }
  }

  img {
    width: 100%;
  }

  .slide-title {
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 24px;
    color: #26303B;
    margin: 25px 0 5px;
  }

  .slide-description {
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 24px;
    color: #26303B;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .slide {
    padding: 15px;

    .index {
      width: 40px;
      height: 40px;
      left: 8px;
      top: 8px;

      span {
        font-size: 16px;
      }
    }

    .slide-title,
    .slide-description {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
</style>
