
@font-face {
  font-family: 'rotondac';
  src: url('../../assets/fonts/rotondac.eot');
  src: url('../../assets/fonts/rotondac.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/rotondac.woff2') format('woff2'),
  url('../../assets/fonts/rotondac.woff') format('woff'),
  url('../../assets/fonts/rotondac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'rotondac';
  src: url('../../assets/fonts/rotondac-bold.eot');
  src: url('../../assets/fonts/rotondac-bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/rotondac-bold.woff2') format('woff2'),
  url('../../assets/fonts/rotondac-bold.woff') format('woff'),
  url('../../assets/fonts/rotondac-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

body{
  font-family: rotondac;
  background: #E5E5E5;
}
.main-page{
  width:100%;
  overflow: hidden;
}
.container{
  width:915px;
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}
.buy-btn{
  background: linear-gradient(0deg, #7DB945, #7DB945), #7DB945;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background: #90bb6b;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
@media(max-width:1024px){
  .container{
    padding: 0 10px;
    max-width:100%;
  }
}
